* {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
}
nav p {
  font-size: 2rem;
  padding-left: 10px;
}
nav .icons {
  display: flex;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  width: auto;
  padding-left: 45px;
  padding-right: 45px;
  color: #7C6A0A;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
article .impact-section {
  display: flex;
  flex-direction: column;
}
article h1 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 3.64rem;
}
article p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.56rem;
}
article button {
  background: none;
  border-style: none;
}
article button {
  margin: 0 auto;
  width: 50%;
  min-width: 150.12px;
  max-width: 261px;
  height: auto;
  min-height: 41.99px;
  max-height: 73px;
  border-radius: 20.13px;
  font-size: 1.323rem;
  font-weight: 700;
  line-height: 1.719rem;
  background-color: #FA9500;
  color: white;
}
article img {
  width: 80vw;
  border-radius: 7.2px;
}

section {
  width: auto;
  height: auto;
  padding: 60px;
}
section h2 {
  color: #7C6A0A;
  font-size: 2.2rem;
}
section .healthcare, section .furniture {
  padding-bottom: 60px;
}
section .healthcare h2, section .furniture h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.682rem;
  padding-bottom: 60px;
}
section .healthcare .card-section, section .furniture .card-section {
  width: auto;
  height: auto;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
section .healthcare .product-card, section .furniture .product-card {
  width: 100%;
  min-width: 178px;
  max-width: 324px;
  height: auto;
  min-height: 275.79;
  max-height: 502px;
  border-radius: 4.4px;
  box-shadow: 0px 0.55px 5.49px 0px rgba(0, 0, 0, 0.1019607843);
  scroll-snap-align: center;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
}
section .healthcare .product-card .icon, section .furniture .product-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
section .healthcare .product-card .icon svg, section .furniture .product-card .icon svg {
  width: 28px;
  height: 28px;
}
section .healthcare .product-card .product-image, section .furniture .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .healthcare .product-card .product-image img, section .furniture .product-card .product-image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .healthcare .product-card h3, section .furniture .product-card h3 {
  font-size: 1.373rem;
  font-weight: 600;
  line-height: 1.785rem;
  text-align: left;
}
section .healthcare .product-card p, section .furniture .product-card p {
  font-size: 0.824rem;
  font-weight: 400;
  line-height: 1.071rem;
  text-align: left;
}
section .furniture .product-card {
  background-color: #BABD8D;
  color: white;
}

.about-us h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.about-us .mission-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us .mission-section .earth, .about-us .mission-section .innovation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  gap: 10px;
  color: #E86424;
  margin-bottom: 57px;
}
.about-us .mission-section .earth img, .about-us .mission-section .innovation img {
  -o-object-fit: cover;
     object-fit: cover;
}
.about-us .mission-section .earth p, .about-us .mission-section .innovation p {
  text-align: center;
  font-weight: 500;
  font-size: 1.351rem;
  line-height: 1.756rem;
}
.gallery h2 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.86rem;
  padding-bottom: 42px;
}
.gallery .gallery-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.gallery .gallery-images img {
  width: 100%;
  height: 398px;
  -o-object-fit: cover;
     object-fit: cover;
  gap: 20px;
  border-radius: 16px;
}
.gallery .gallery-images img:hover {
  transform: scale(1.1);
}

.location {
  color: #E86424;
}
.location h2 {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.86rem;
  padding: 36px 0;
}
.location h3,
.location p {
  font-size: 2.4rem;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.location .map img {
  width: 330px;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3.85px;
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: auto;
  color: white;
  padding: 40px;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}/*# sourceMappingURL=main.css.map */