$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$quaternary-color: #FA9500;
$primary-text-color: #7C6A0A;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 2.4rem;


@mixin flexCenter($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

* {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    padding: 15px;
    @include flexCenter(row, space-between, center);
    color: $primary-text-color;

    p {
        font-size: 2rem;
        padding-left: 10px;
    }

    .icons {
        display: flex;
        // gap: 15px;
        @include buttonStyle;
    }
}

article {
    width: auto;
    padding-left: 45px;
    padding-right: 45px; //revisar si no queda bien
    // padding-top: 70px;
    color: $primary-text-color;
    @include flexCenter(column-reverse, space-between, center);

    .impact-section {
        display: flex;
        flex-direction: column;
        // padding-top: 50px;
        // gap: 25px;
    }

    h1 {
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 3.64rem;
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.56rem;
        margin-bottom: 18px
    }

    @include buttonStyle;

    button {
        margin: 0 auto;
        width: 50%;
        min-width: 150.12px;
        max-width: 261px;
        height: auto;
        min-height: 41.99px;
        max-height: 73px;
        border-radius: 20.13px;

        // border-radius: 35px;

        font-size: 1.323rem;
        font-weight: 700;
        line-height: 1.719rem;
        background-color: $quaternary-color;
        color: white;
    }

    img {
        width: 80vw;
        border-radius: 7.2px;
    }

}

section {
    width: auto;
    height: auto;
    padding: 5px 40px;


    h2 {
        color: $primary-text-color;
        font-size: 2.2rem;
    }

    .healthcare {
        padding-bottom: 60px;

        h2 {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 2.2rem;
            line-height: 2.682rem;
            padding-bottom: 60px;
        }

        .card-section {
            width: auto;
            height: auto;
            column-gap: 30px;
            row-gap: 80px;
            @include flexCenter(row, space-evenly, center);
            overflow-x: scroll;
            overscroll-behavior-x: contain;
            scroll-snap-type: x proximity;
        }

        .product-card {
            width: 100%;
            min-width: 178px;
            max-width: 324px;
            height: auto;
            min-height: 275.79;
            max-height: 502px;
            border-radius: 4.4px;
            box-shadow: 0px 0.55px 5.49px 0px #0000001A;
            scroll-snap-align: center;

            background-color: $secondary-color;
            color: $primary-text-color;

            padding: 20px;
            // border-radius: 8px;

            .icon {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;

                svg {
                    width: 28px;
                    height: 28px;
                }


            }

            .product-image {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }

            h3 {
                font-size: 1.373rem;
                font-weight: 600;
                line-height: 1.785rem;
                text-align: left
            }

            p {
                font-size: 0.824rem;
                font-weight: 400;
                line-height: 1.071rem;
                text-align: left;
            }
        }

    }

    .furniture {
        @extend .healthcare;

        .product-card {
            background-color: $tertiary-color;
            color: white;
        }

    }
}

.about-us {
    h2 {
        font-weight: bold;
        padding-bottom: 60px;
    }

    .mission-section {
        @include flexCenter(column, center, center);

        .earth {
            @include flexCenter(column, center, center);
            $text-color: #E86424;
            width: 30vw;
            gap: 10px;
            color: $text-color;
            margin-bottom: 57px;

            img {
                object-fit: cover;
            }

            p {
                text-align: center;
                font-weight: 500;
                font-size: 1.351rem;
                line-height: 1.756rem
            }
        }
    }

    .innovation {
        @extend .earth;
    }
}

.gallery {
    h2 {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 2.86rem;
        padding-bottom: 42px;
    }

    .gallery-images {
        @include flexCenter(column, center, center);
        gap: 64px;

        img {
            width: 100%;
            height: 398px;
            object-fit: cover;
            // object-position: 5px 35%;
            border-radius: 16px;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.location {
    $text-color: #E86424;
    color: $text-color;

    h2 {
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 2.86rem;
        padding: 36px 0;
    }

    h3 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.6rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.95rem;
    }

    .map {
        @include flexCenter(row, center, center);
        padding-bottom: 50px;

        img {
            width: 330px;
            height: 480px;
            object-fit: cover;
            border-radius: 3.85px;
        }
    }
}

footer {
    background-color: $quaternary-color;
    width: 100%;
    height: auto;
    color: white;
    padding: 20px;

    h3 {
        font-size: 2.1rem;
        font-weight: 500;
        line-height: 2.73rem;
    }

    p {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.82rem;
    }

    .social-media {
        @include flexCenter(row, center, center);
        gap: 20px;

        img {
            width: 28px;
            height: 28px;
        }
    }
}