//variables
$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$quaternary-color: #FA9500;
$primary-text-color: #7C6A0A;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 2.4rem;

///responsive
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1250px;
$breakpoint-desktop-max: $breakpoint-desktop - 1px; // Define un nuevo valor aquí

@mixin respond-to($breakpoint) {
    @if $breakpoint ==tablet {
        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop-max) {
            @content;
        }
    }

    @else if $breakpoint ==desktop {
        @media (min-width: $breakpoint-desktop) {
            @content;
        }
    }
}


///responsive

@mixin flexCenter($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

* {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    padding: 15px;
    @include flexCenter(row, space-between, center);
    color: $primary-text-color;

    p {
        font-size: 2rem;
        padding-left: 10px;

        @include respond-to(tablet) {
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 3rem;
        }

        @include respond-to(desktop) {
            font-size: 3rem;
            font-weight: 400;
            line-height: 3.9rem;
        }
    }

    .icons {
        display: flex;
        @include buttonStyle;

        svg {
            @include respond-to(tablet) {
                width: 40px;
                height: 40px;
            }

            @include respond-to(desktop) {
                width: 30px;
                height: 30px;
            }
        }
    }
}

article {
    width: auto;
    padding-left: 45px;
    padding-right: 45px; //revisar si no queda bien
    // padding-top: 70px;
    color: $primary-text-color;
    @include flexCenter(column-reverse, space-between, center);

    @include respond-to(tablet) {
        flex-direction: row;
    }

    @include respond-to(desktop) {
        flex-direction: row;
    }

    .impact-section {
        display: flex;
        flex-direction: column;
        // padding-top: 50px;
        // gap: 25px;
    }

    h1 {
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 3.64rem;

        @include respond-to(desktop) {
            font-size: 6rem;
            font-weight: 600;
            line-height: 7.8rem;
            margin-bottom: 61px;
        }

        @include respond-to(tablet) {
            font-size: 4rem;
            font-weight: 600;
            line-height: 5.8rem;
        }
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.56rem;
        margin-bottom: 18px;

        @include respond-to(desktop) {
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 3.25rem;
            margin-bottom: 108px;
            max-width: 592px;
        }

        @include respond-to(tablet) {
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.8rem;
            margin-bottom: 90px;
            max-width: 280px;
        }

    }

    @include buttonStyle;

    button {
        margin: 0 auto;
        width: 50%;
        min-width: 150.12px;
        max-width: 261px;
        height: auto;
        min-height: 41.99px;
        max-height: 73px;
        border-radius: 20.13px;

        // border-radius: 35px;

        font-size: 1.323rem;
        font-weight: 700;
        line-height: 1.719rem;
        background-color: $quaternary-color;
        color: white;
        margin-bottom: 50px;

        @include respond-to(desktop) {
            margin: 0;
            width: 261px;
            height: 73px;
            border-radius: 35px;

            font-size: 2.3rem;
            font-weight: 700;
            line-height: 2.989rem;
        }

        @include respond-to(tablet) {
            margin: 0 0 50px 0;
        }
    }

    img {
        width: 80vw;
        height: 362px;
        border-radius: 7.2px;

        @include respond-to(desktop) {
            width: 50vw;
            height: auto;
            max-width: 550px;
            max-height: 686px;
        }

        @include respond-to(tablet) {
            width: 39vw;
        }

    }

}

section {
    width: auto;
    height: auto;
    padding: 5px 40px;


    h2 {
        color: $primary-text-color;
        font-size: 2.2rem;
    }

    .healthcare {
        padding-bottom: 60px;

        h2 {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 2.2rem;
            line-height: 2.682rem;
            padding-bottom: 20px;

            @include respond-to(tablet) {
                font-size: 3.5rem;
                font-weight: 400;
                line-height: 6.5rem;
                text-align: left;
            }

            @include respond-to(desktop) {
                font-family: IBM Plex Sans;
                font-size: 5rem;
                font-weight: 400;
                line-height: 6.5rem;
                text-align: left;
                margin-top: 100px;
            }
        }

        .card-section {
            width: auto;
            height: auto;
            column-gap: 30px;
            row-gap: 80px;
            @include flexCenter(row, space-evenly, normal);
            overflow-x: scroll;
            overscroll-behavior-x: contain;
            scroll-snap-type: x proximity;
        }

        .product-card {
            width: 100%;
            min-width: 178px;
            max-width: 324px;
            height: auto;
            min-height: 275.79;
            max-height: 502px;
            border-radius: 4.4px;
            box-shadow: 0px 0.55px 5.49px 0px #0000001A;
            scroll-snap-align: center;

            background-color: $secondary-color;
            color: $primary-text-color;

            padding: 20px;
            // border-radius: 8px;

            @include respond-to(tablet) {
                display: flex;
                flex-direction: column;
            }

            @include respond-to(desktop) {
                display: flex;
                flex-direction: column;
            }

            .icon {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;

                svg {
                    width: 28px;
                    height: 28px;
                }


            }

            .product-image {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 215px;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }

            h3 {
                font-size: 1.373rem;
                font-weight: 600;
                line-height: 1.785rem;
                text-align: left;

                @include respond-to(tablet) {
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 2.5rem;
                }

                @include respond-to(desktop) {
                    font-size: 2.5rem;
                    font-weight: 600;
                    line-height: 3.25rem;
                }
            }

            p {
                font-size: 0.824rem;
                font-weight: 400;
                line-height: 1.071rem;
                text-align: left;

                @include respond-to(tablet) {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1rem;
                }

                @include respond-to(desktop) {
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 1.95rem;
                }
            }
        }

    }

    .furniture {
        @extend .healthcare;

        .product-card {
            background-color: $tertiary-color;
            color: white;
        }

    }
}

.about-us {
    h2 {
        font-weight: bold;
        padding-bottom: 60px;

        @include respond-to(tablet) {
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 4.5rem;
        }

        @include respond-to(desktop) {
            font-size: 5rem;
            font-weight: 500;
            line-height: 6.5rem;
        }
    }

    .mission-section {
        @include flexCenter(column, center, center);

        @include respond-to(desktop) {
            flex-direction: row;
            justify-content: space-around
        }

        .earth {
            @include flexCenter(column, center, center);

            @include respond-to(desktop) {
                flex-direction: row;
            }

            $text-color: #E86424;
            width: 30vw;
            gap: 10px;
            color: $text-color;
            margin-bottom: 57px;

            img {
                object-fit: cover;
            }

            p {
                text-align: center;
                font-weight: 500;
                font-size: 1.351rem;
                line-height: 1.756rem;

                @include respond-to(tablet) {
                    font-size: 2rem;
                    text-align: center;
                    font-weight: 500;
                    line-height: 2.5rem;
                }

                @include respond-to(desktop) {
                    font-size: 2.3rem;
                    text-align: center;
                    font-weight: 500;
                    line-height: 2.9rem;
                }
            }
        }
    }

    .innovation {
        @extend .earth;
    }
}

.gallery {
    h2 {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 2.86rem;
        padding-bottom: 42px;

        @include respond-to(tablet) {
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 5.5rem;
            text-align: left;
        }

        @include respond-to(desktop) {
            font-size: 5rem;
            font-weight: 500;
            line-height: 6.5rem;
            text-align: left;
        }
    }

    .gallery-images {
        @include flexCenter(column, center, center);
        gap: 64px;

        @include respond-to(desktop) {
            flex-direction: row;
        }

        img {
            width: 100%;
            height: 398px;
            object-fit: cover;
            // object-position: 5px 35%;
            border-radius: 16px;

            &:hover {
                transform: scale(1.1);
            }

            @include respond-to(tablet) {
                width: 396px;
                height: 398px;
            }
        }
    }
}

.location {
    $text-color: #E86424;
    color: $text-color;

    h2 {
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 2.86rem;
        padding: 36px 0;

        @include respond-to(tablet) {
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 5.5rem;
            text-align: left;
        }

        @include respond-to(desktop) {
            font-size: 5rem;
            font-weight: 500;
            line-height: 6.5rem;
            text-align: left;
        }
    }

    h3 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.6rem;

        @include respond-to(tablet) {
            font-size: 2rem;
            font-weight: 400;
            line-height: 3.5rem;
            text-align: left;
        }

        @include respond-to(desktop) {
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 4.55rem;
            text-align: left;
        }
    }

    p {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.95rem;

        @include respond-to(tablet) {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.5rem;
            text-align: left;
        }

        @include respond-to(desktop) {
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 3.2rem;
            text-align: left;
        }
    }

    .map {
        @include flexCenter(row, center, center);
        padding-bottom: 50px;

        img {
            width: 330px;
            height: 480px;
            object-fit: cover;
            border-radius: 3.85px;

            @include respond-to(tablet) {
                width: 100%;
                height: 596px;
            }

            @include respond-to(desktop) {
                width: 100%;
                height: 596px;
            }
        }
    }
}

footer {
    background-color: $quaternary-color;
    width: 100%;
    height: auto;
    color: white;
    padding: 20px;

    h3 {
        font-size: 2.1rem;
        font-weight: 500;
        line-height: 2.73rem;

        @include respond-to(tablet) {
            font-size: 2rem;
            font-weight: 500;
            line-height: 3rem;
        }

        @include respond-to(desktop) {
            font-size: 3rem;
            font-weight: 500;
            line-height: 3.9rem;
        }
    }

    p {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.82rem;

        @include respond-to(tablet) {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2rem;
        }

        @include respond-to(desktop) {
            font-size: 2rem;
            font-weight: 500;
            line-height: 2.6rem;
        }
    }

    .social-media {
        @include flexCenter(row, center, center);
        gap: 20px;

        img {
            width: 28px;
            height: 28px;

            @include respond-to(tablet) {
                width: 39px;
                height: 39px;
            }

            @include respond-to(desktop) {
                width: 45px;
                height: 45px;
            }
        }
    }
}